
<section>
    <article class="title">
        <h4>About book</h4>
        <span *ngIf="book$ | async; let book">
            <span *ngIf="!book.status" >loaned</span>
            <span *ngIf="book.status" >free to loan!</span>
        </span>
    </article>
    <h1 *ngIf="book$ | async; let book" >{{ book.name }}</h1>
    <span *ngIf="book$ | async; let book" >{{ book.author }}</span>
    <p *ngIf="book$ | async; let book" >{{ book.description }}</p>
    <h4>Dates of loans/returns:</h4>
    <ul>
        <li *ngFor="let loan of loanRecords$ | async">
            <p *ngIf="!loan.status" >Book loaned {{ formatDate(loan.when) }}</p>
            <p *ngIf="loan.status" >Book returned {{ formatDate(loan.when) }}</p>
        </li>
    </ul>
</section>