
<section>
    <article class="title">
        <h4>About book</h4>
        <span *ngIf="book$ | async; let book">
            <span *ngIf="!book.status" >loaned</span>
            <span *ngIf="book.status" >free to loan!</span>
        </span>
    </article>
    <h1 *ngIf="book$ | async; let book" >{{ book.name }}</h1>
    <span *ngIf="book$ | async; let book" >{{ book.author }}</span>
    <p *ngIf="book$ | async; let book" >{{ book.description }}</p>
    <h4>Dates of loans/returns:</h4>
    <p>here will be data from database somehow...</p>  <!-- dynamic data -->
</section>