
@import '../../_variables';

h1 {
    margin: 1.3rem 0 0;
    text-align: start;
    font-size: 3.8rem;
}

ul {
    margin: 1.6rem 0 0;
    padding: 0 0 2rem;
    list-style-type: none;
    border-bottom: .2rem solid $lineColor;
    flex: 1;
}

hrsd-kniznica-form-to-add-book {
    margin: auto 0 0;
}

:host {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    max-width: 46rem;
    text-align: center;
}