
// appearance of web
$mainColor: #000000;
$subColor: #00fedc;
$subColorForm: #00fedcd1;
$lineColor: #00fe4c;
$returnColor: #d000c5;
$removeColor: #fe0000;

// fonts
$fontMain: VT323, monospace;
$fotnSub: Anonymous Pro, monospace;
$fontColorMain: #fefa00;
$fontColorSub: #fefa00ba;

// about
$aboutColor: #ba5522
