
/* You can add global styles to this file, and also import other style files */
@import '_variables';

html, body {
    font-family: $fotnSub;
    background: $mainColor;
    color: $fontColorMain;
}

html {
    margin: 0;
    padding: 0;
}

body {
    padding: 2.4rem 1.4rem 2rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    cursor: default;
    align-items: center;
}

h1, h2, h3, h4 {
    font-family: $fontMain;
}
