
<section class="form">
    <h4>Add book form:</h4>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input type="text" class="form-control" formControlName="name" placeholder="Name of Book:">
        </div>
      
        <div class="form-group">
          <input type="text" class="form-control" formControlName="author" placeholder="Author of Book:">
        </div>
      
        <div class="form-group">
          <textarea class="form-control" formControlName="description" placeholder="At least 20 characters about book please:"></textarea>
        </div>
      
        <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Add</button>
      </form>
</section>