
<li>
    <section>
        <h4>{{ book.name }}</h4> <!-- dynamic line -->
        <span>{{ book.author }}</span> <!-- dynamic line -->
    </section>
    <aside>
        <button class="btnInfo" [routerLink]="['blabla']" title="Information about Book" >ℹ️</button>


        <button class="btnReturn" title="Return this book" >↪️</button>  <!-- only if status false, that mean only when you want return her -->
        <button class="btnLoan" title="Loan this book" >✅</button>  <!-- only if status true, that mean only when she is available to loan -->
        <button class="btnRemove" (click)="removeBook()" title="Remove book from library" >❌</button>  <!-- only if status true, that means she is available, so user can delete her too -->
    </aside>
</li>