
<!-- here will be book from list of books with name, author and interactive buttons info, return, loan, delete -->
<li>
    <section>
        <h4>Name of book</h4> <!-- dynamic line -->
        <span>Author of book</span> <!-- dynamic line -->
    </section>
    <aside>
        <button class="btnInfo" [routerLink]="['blabla']" title="Information about Book" >ℹ️</button>
        <button class="btnReturn" title="Return this book" >↪️</button>
        <button class="btnLoan" title="Loan this book" >✅</button>
        <button class="btnRemove" title="Remove book from library" >❌</button>
    </aside>
</li>