
<li>
    <section>
        <h4>{{ book.name }}</h4>
        <span>{{ book.author }}</span>
    </section>
    <aside>
        <button class="btnInfo" (click)="navigateToAbout()" title="Information about Book" >ℹ️</button>

        @if (!book.status) {
            <button class="btnReturn" (click)="updateStatus()" title="Return this book" >↪️</button>
        }
        @if (book.status) {
            <button class="btnLoan" (click)="updateStatus()" title="Loan this book" >✅</button> 
        }
        @if (book.status) {
            <button class="btnRemove" (click)="removeBook()" title="Remove book from library" >❌</button>
        }
    </aside>
</li>