
<!-- <p>this will be just bridge between browser view and content of web, everything will be in main component, I imagine that all books will be on main in list with button to loan them, return them, delete them and go to info about them.</p> -->
<!-- <p>under list will be form to add new book</p> -->
<!-- this routes i rethink in process where to put this to handle if 4200/ to main and 4200/:name-of-book to specific book -->

<a [routerLink]="['/']" ><h1>library</h1></a>

<router-outlet></router-outlet>