
:host {
    width: 100%;
    max-width: 49rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
    align-self: baseline;
}

h1 {
    margin: 1.3rem 0 0;
    font-size: 3.8rem;
}